<html>
<head>
</head>
<DIV class=OutlookMessageHeader lang=en-us dir=ltr align=left>
  <body bgcolor="#ffffff" text="#000000">
  <br>
  <br>
  Hi, <%= @target.firstname %> <br>
  <br>
  Admin has invited you to edit this document.
  <br>
  "New accounts setup"
  <br>
  <br>
  <a href="<%= @url %>">Click here</a>
  to visit Google Docs and access the shared document.<br> 
  <br>
  Thank you,<br>
  <br>
  Company Name<br>
  <br>
  <br>
  <br>
  <br>
  Please DO NOT REPLY to this email as this is not a monitored inbox. If
  you have questions/inquiries please visit 
  <a href="https://www.google.com">https://www.google.com</a>.<br>
  <br>
</div>
</body>
</html>